.products {
  padding: 100px 0;
}

.products__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products__content {
  width: 30%;
}
.products__img {
  margin-bottom: 20px;
  img {
    max-width: 100%;
    max-height: 245px;
  }
}

.products__title {
  font-size: 30px;
  font-weight: 700;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

.products__text {
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
  margin-bottom: 15px;
  line-height: 1.4;
  max-width: 585px;
}
.products__content-title {
  margin-bottom: 15px;
  a {
    font-size: 22px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
    &:hover {
      color: #81848f;
    }
  }
  span {
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
    margin-left: 20px;
  }
}
.products__content-decribe {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
  margin-bottom: 15px;
  line-height: 1.4;
}
.products__content-btn {
  position: relative;
  a {
    text-decoration: none;
    color: #81848f;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    &:hover {
      color: #999caa;
    }
    &:after {
      content: "";
      position: absolute;
      top: 11px;
      left: 75px;
      background: #17bed2;
      width: 9px;
      height: 2px;
    }
  }
}
